<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated metaModelv2 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="metaModelv2.presentation.MetaModelv2ModelWizardID"
            name="%_UI_MetaModelv2ModelWizard_label"
            class="metaModelv2.presentation.MetaModelv2ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MetaModelv2ModelFile.gif">
         <description>%_UI_MetaModelv2ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated metaModelv2 -->
      <editor
            id="metaModelv2.presentation.MetaModelv2EditorID"
            name="%_UI_MetaModelv2Editor_label"
            icon="icons/full/obj16/MetaModelv2ModelFile.gif"
            extensions="metamodelv2"
            class="metaModelv2.presentation.MetaModelv2Editor"
            contributorClass="metaModelv2.presentation.MetaModelv2ActionBarContributor">
      </editor>
   </extension>

</plugin>
